:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --body-bg-color: #f9f7fe;
}

.hero {
  padding: 160px 20px 80px 20px;
  background-color: var(--body-bg-color);
}
.work-title {
  padding: 160px 30px 80px 30px;
  text-align: center;
}
.hello-text {
  font-family: var(--primary-font-family);
  font-weight: 700;
  color: rgb(39, 33, 66);
}
.hello-text {
  font-size: 36px;
  font-weight: 700;
  font-weight: bolder;
  margin: 0 auto;
}
h1 {
  font-family: var(--secondary-font-family);
  font-size: 96px;
  color: black;
}
.front-end-dev {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 24px;
  color: rgb(39, 33, 66);
}
.btn {
  background-color: #6c63ff;
  color: white;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  padding: 15px 30px;
  border: none;
}
.btn:hover {
  background-color: #6c63ff;
  color: rgb(8, 8, 83);
}
.learn-more {
  background-color: #f9f7fe;
  border: 0.3px solid #6c63ff;
  color: #6c63ff;
}
.learn-more:hover {
  background-color: #f9f7fe;
  color: #100c55;
  border: 0.3px solid #6c63ff;
}
.project-to-show {
  font-size: 16px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  color: rgb(33, 37, 41);
  margin-bottom: 20px;
}
.project-desciption,
.about-section {
  padding: 100px 60px;
}
.h1-text-bloks,
.h1-about-author,
.h1-work-title {
  font-family: var(--secondary-font-family);
  font-size: 64px;
  font-weight: 700;
  color: black;
}
.p-text-blocks {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  color: rgb(108, 117, 125);
  line-height: 27px;
}

.h2-about-author {
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 700;
}
.about-section-text {
  margin: 30px;
}
.h1-work-projects {
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
}
.contact-link {
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 400;
  color: #1382e9;
}
.content-contacts {
  margin-bottom: 100px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px 40px 20px;
  }
  .block-img {
    display: none;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
  .h1-text-bloks,
  .about-section-text,
  .h1-about-author {
    text-align: center;
    font-size: 44px;
  }
}
